@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


:root {
    --main-clr: #91b3b9;
    --black: hsl(0, 0%, 10%);
    --icon-size: 24px;

    /* Box Shadows */
    --level-1: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0, 0, 0, 0.24);
    --level-2: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0, 0, 0, 0.23);
    --level-3: 0 10px 20px rgba(0, 0, 0, 0.1),0 6px 6px rgba(0, 0, 0, 0.1);
    --level-4: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
    --level-5: 0 19px 38px rgba(0, 0, 0, 0.3),0 15px 12px rgba(0, 0, 0, 0.22);

    --card-Radius: 10px;
    --cardShadow: var(--level-3);

    --transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) all;

    /* Button Styles */
    --accent: hsl(180, 52%, 68%);
    --accentHighlight: hsl(180, 52%, 78%);
    --buttonRadius: 12px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: var(--main-clr);
    height: 100vh;
}

h1{
    color: #fff;
    font-size: 3rem;
}


/* Container */

.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.video-wrapper{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 1.5%;
    margin: 1.5% .5rem 1.5% .5rem;
    position: relative;
    border: 0;
}

/* Aspect Ratio */
video {
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    max-width: 60rem;
}

video[poster]{
    object-fit: cover;
}

.video-player{
    min-width: 560px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    box-shadow:0 2.5em 2.5em -1.875em rgba(0, 0, 0, 0.5), 0 1.25em 5em 1em rgba(0, 0, 0, 0.2);
}

.screen{
    cursor: pointer;
    width: 100%;
    display: inline-block;
    background-color: #404040; !important;
}


/* Controls styling */

.controls {
    background:
        linear-gradient(
          to top,
          hsla(0, 0%, 0%, 0.68) 0%,
          hsla(0, 0%, 0%, 0.655) 14.4%,
          hsla(0, 0%, 0%, 0.618) 26.8%,
          hsla(0, 0%, 0%, 0.573) 37.6%,
          hsla(0, 0%, 0%, 0.52) 46.8%,
          hsla(0, 0%, 0%, 0.461) 54.6%,
          hsla(0, 0%, 0%, 0.43) 57%,
          hsla(0, 0%, 0%, 0.4) 61.3%,
          hsla(0, 0%, 0%, 0.336) 67%,
          hsla(0, 0%, 0%, 0.30) 69%,
          hsla(0, 0%, 0%, 0.273) 71.9%,
          hsla(0, 0%, 0%, 0.212) 76.2%,
          hsla(0, 0%, 0%, 0.155) 80.1%,
          hsla(0, 0%, 0%, 0.104) 83.7%,
          hsla(0, 0%, 0%, 0.062) 87.4%,
          hsla(0, 0%, 0%, 0.029) 91.2%,
          hsla(0, 0%, 0%, 0.007) 95.3%,
          hsla(0, 0%, 0%, 0) 100%
        );
    color: rgba(255,255,255,0.8);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.forNow {
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.016) 17%,
      hsla(0, 0%, 0%, 0.054) 31.4%,
      hsla(0, 0%, 0%, 0.111) 43.5%,
      hsla(0, 0%, 0%, 0.182) 53.5%,
      hsla(0, 0%, 0%, 0.266) 61.7%,
      hsla(0, 0%, 0%, 0.358) 68.3%,
      hsla(0, 0%, 0%, 0.455) 73.6%,
      hsla(0, 0%, 0%, 0.553) 77.9%,
      hsla(0, 0%, 0%, 0.649) 81.4%,
      hsla(0, 0%, 0%, 0.741) 84.3%,
      hsla(0, 0%, 0%, 0.823) 87%,
      hsla(0, 0%, 0%, 0.894) 89.6%,
      hsla(0, 0%, 0%, 0.949) 92.5%,
      hsla(0, 0%, 0%, 0.986) 95.9%,
      hsl(0, 0%, 0%) 100%
    );
  }

.video-wrapper:hover .controls{
    opacity: 1;
    transform: translate(0,0);
}

.controls .btn{
    border: 0;
    background: transparent;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.btn:focus{
    outline: 1px dashed var(--main-clr);
}

.controls .fa-play {
    color: white;
    font-size: var(--icon-size);
    transition: all .2s ease-in-out;
}

.controls .fa-play:hover {
    transform: scale(1.1);
    color: rgba(52, 206, 87, 0.9);
}

.controls .fa-redo {
    color: rgba(255,255,255,0.5);
    font-size: var(--icon-size);
    transition: all .2s ease-in-out;
}

.controls .fa-redo:hover {
    color: rgba(255,255,255,0.9);
    transform: scale(1.1);
}

.controls .fa-pause {
    color: rgba(255,255,255,0.8);
    font-size: var(--icon-size);
    transition: all .2s ease-in-out;
}

.controls .fa-pause:hover {
    transform: scale(1.1);
}

.controls .timestamp {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.controls .fa-closed-captioning {
    color: #fff;
    font-size: var(--icon-size);
    transition: all .2s ease-in-out;
    margin: auto 5px;
}

.controls .fa-closed-captioning:hover{
    color:  rgba(255,255,255,0.8);
    transform: scale(1.1);
}


@media(min-width: 800px){
    .controls{
        opacity: 0;
        transform: translate(0, 100%);
        padding: 20px;
    }
}


/* Progress Bar */

input[type='range'] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
}


input[type='range']:focus {
	outline: 1px dashed var(--main-clr); /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: transparent;
	border-color: transparent;
	color: transparent;
}


/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
	margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: rgba(255,255,255,0.9);
	cursor: pointer;
    margin-left: 5px;
}


input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type='range']:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}

input[type='range']::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: rgba(255,255,255,0.4);
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type='range']::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type='range']::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-lower {
	background: #3071a9;
}
input[type='range']::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-upper {
	background: #367ebd;
}


/* Play Button */

.playButton {
    text-align: center;
    transition: .6s;
    transform: translate(-0%, -50%);
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
  }

  .playBtn {
      display: inline-block;
      -webkit-transition: all 0.5s ease;
      border:0;
      border-radius: 100%;
      background: transparent;
      cursor:pointer;
      transition: all .6s ease-out;
      z-index: 2;
  }

  .hidden{
      opacity: 0;
      transform: translate(0,0);
  }

  .circle {
    stroke: #1e407b;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0.3;
  }
  
  .triangle {
        -webkit-transition: all 0.7s ease-in-out;
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: hsl(0, 0%, 94%);
        transform: translateY(0); 
       }

.playBtn:hover .triangle{
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: hsl(0.61, 0.61, 30%);
        animation: nudge 0.7s ease-in-out;
}

.playBtn:hover .circle{
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: #1e407b;
}

@keyframes nudge{
    0% {
      transform: translateX(0)  
    }
    30% {
      transform: translateX(-5px)
    }
    50% {
      transform: translateX(5px)
    }
    70% {
      transform: translateX(-2px)
    }
    100% {
      transform: translateX(0)
    }
}

/* Nice highlight to a button */

.button-container{
    height: 25vh;
    background-color: white;
    padding: 1%;
    margin-top: 15rem;
    transform: skewY(calc(var(--paperSkew) * var(--skewDir))) translateY(-50%);
    --paperSkew: -5deg;
    --skewDir: -1;
}

.more-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    
}
.nextBtn {
	--buttonColor: var(--accent);
	--buttonHighlight: var(--accentHighlight);
	border-top: solid 2px var(--buttonHighlight);
	background: var(--buttonColor);

	text-align: center;
	color: var(--black);
	font-weight: bold;
	border-radius: var(--buttonRadius);
	box-shadow: var(--level-1);
	font-size: 1.5rem;
	padding: 8px 40px;
	transition: background 0.3s ease 0s, box-shadow 0s ease 0s, transform 0s ease 0s;
    cursor: pointer;
    transform: skewY(calc(var(--paperSkew) * var(--skewDir))) translateY(-50%);
    --paperSkew: 5deg;
    --skewDir: -1;
    margin-top: 5%;
}

.nextBtn:hover {
	background: var(--buttonHighlight);
	box-shadow: var(--level-2);
}